:root {
  --oui-font-family: system-ui, sans-serif;
  --oui-color-primary: 0 200 83;
  --oui-color-primary-light: 80 230 150;
  --oui-color-primary-darken: 0 150 60;
  --oui-color-primary-contrast: 255 255 255;
  --oui-color-link: 13 13 13;
  --oui-color-link-light: 217 152 250;
  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;
  --oui-color-danger: 0 0 0;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;
  --oui-color-warning: 0 0 0;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;
  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 15 15 15;
  --oui-color-base-1: 30 30 30;
  --oui-color-base-2: 25 25 25;
  --oui-color-base-3: 20 20 20;
  --oui-color-base-4: 15 15 15;
  --oui-color-base-5: 10 10 10;
  --oui-color-base-6: 8 8 8;
  --oui-color-base-7: 5 5 5;
  --oui-color-base-8: 3 3 3;
  --oui-color-base-9: 2 2 2;
  --oui-color-base-10: 0 0 0;
  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;
  --oui-color-base-static: 255 255 255;
  --oui-color-base-static-contrast: 0 0 0;
  --oui-color-trading-loss: 0 0 0;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;
  --oui-gradient-primary-start: 0 80 30;
  --oui-gradient-primary-end: 0 200 83;
  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;
  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;
  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;
  --oui-gradient-brand-start: 56 250 30;
  --oui-gradient-brand-end: 69 255 66;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;
  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;
  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;
  --oui-rounded-sm: 4px;
  --oui-rounded: 6px;
  --oui-rounded-md: 8px;
  --oui-rounded-lg: 10px;
  --oui-rounded-xl: 14px;
  --oui-rounded-2xl: 18px;
  --oui-rounded-full: 9999px;
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}